<%- include('./template/header'); %>

<div class="container mt-5">
  <h6 class="mb-0 text-uppercase">Card with list group</h6>
  <hr />

  <!-- Filter Bar -->
  <div class="filter-bar">
    <input
      type="text"
      id="searchInput"
      class="form-control"
      placeholder="Cari tugas..."
    />
    <select id="monthSelect" class="form-select">
      <option value="all">All Months</option>
      <option value="01">January</option>
      <option value="02">February</option>
      <option value="03">March</option>
      <!-- Tambahkan opsi bulan lainnya -->
    </select>
    <select id="yearSelect" class="form-select">
      <option value="all">All Years</option>
      <option value="2023">2023</option>
      <option value="2024">2024</option>
      <!-- Tambahkan opsi tahun lainnya -->
    </select>
  </div>

  <div class="row flex-wrap" id="taskCards">
    <!-- Data Dummy will be populated dynamically -->


    <% history.forEach(record => { %>
      <p>Tugas ke - <%= record.Id %></p> 
      <p>Nama Tugas: <%= record.nama_Tugas %></p>
      <p>prioritas: <%= record.prioritas %></p>
      <p>description: <%= record.description %></p>
      <p>workStart: <%= record.workStart %></p>
      <p>workEnd: <%= record.workEnd %></p>
      <p>workDate: <%= record.workDate %></p>
    <% }); %>


  </div>
</div>

<!-- Modal Details -->

<%- include('./template/footer'); %>
